body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: rgb(196, 192, 192);
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
}

li {
  padding-bottom: 5px;
  margin-bottom: 10px;
}
